[submodule "kohana"]
	path = kohana
	url = git://github.com/kohana/kohana.git
[submodule "template/default"]
	path = template/default
	url = git@github.com:Magillusionalgame/DiscuzX_default_Template.git
