[submodule "kohana"]
	path = kohana
	url = git://github.com/kohana/kohana.git
[submodule "template/default"]
	path = template/default
	url = git@github.com:Magillusionalgame/DiscuzX_default_Template.git
[submodule "uc_server"]
	path = uc_server
	url = git@github.com:Magillusionalgame/dps_uc_server.git
[submodule "uc_client"]
	path = uc_client
	url = git@github.com:Magillusionalgame/dps_uc_client.git
[submodule "source/plugin/dps_exadmincp"]
	path = source/plugin/dps_exadmincp
	url = git@github.com:Magillusionalgame/dps_exadmincp.git
[submodule "template/yeei_dream"]
	path = template/yeei_dream
	url = git@github.com:Magillusionalgame/yeei_dream.git
[submodule "template/dps_yeei_dream_ext"]
	path = template/dps_yeei_dream_ext
	url = git@github.com:Magillusionalgame/dps_yeei_dream_ext.git
